@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}
#root,
.app {
  height: 100%;
  max-width: 100%;
  background-color: #010026;
  @apply text-white;
}

.hero__textblock {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.hero__customers {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.hero__customers-images {
  align-items: center;
  display: flex;
}

.hero__customers-images img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: -1rem;
  border: 2px solid #fdf2e9;
}

@media (max-width: 575.98px) {
  .hero__textblock {
    display: flex;
    flex-wrap: wrap;
  }

  .hero__customers {
    gap: 5rem;
  }

  .hero__customers h4 {
    font-size: 14px;
  }

  .hero__customers-images img {
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
    margin-right: -1rem;
    border: 2px solid #fdf2e9;
  }
}

.icon-box {
  flex: 0 1 16%;
}

.icon-box img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

@media (max-width: 575.98px) {
  .icon-box {
    flex: 0 1 50%;
  }
}

.free-consultation {
  margin-top: 14px;
}

.free-consultation__description {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.course__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff45a4;
  padding: 32px;
  border-radius: 50px;
  height: 14vh;
  width: 20vw;
}

.course__item:hover {
  background-color: #24cbff;
}

@media (max-width: 991.98px) {
  .course__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
    height: 18vh;
    width: 26vw;
  }
}

@media (max-width: 767.98px) {
  .course__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
    height: 14vh;
    width: 70vw;
  }
}

.testimonials__image-box {
  /* height: 240px; */
}

.testimonials__image-box img {
  border-radius: 100px;

  /* width: 100%;
  height: auto; */
  /* object-fit: cover; */
}

/* accordion */

.accordion {
  /* margin: 100px auto; */
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 20px 24px;
  padding-right: 48px;
  cursor: pointer;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number {
  font-size: 24px;
  font-weight: 500;
  color: #ced4da;
}

.title,
.icon {
  font-size: 24px;
  font-weight: 500;
}

.content-box {
  grid-column: 2 / -1;
  padding-bottom: 18px;
  line-height: 1.6;
}

.content-box ul {
  color: #868e96;
  margin-left: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* OPEN STATE */
.open {
  border-top: 4px solid #ff45a4;
}

.open .number,
.open .title {
  color: #ff45a4;
}

@media (max-width: 575.98px) {
  .title,
  .icon {
    font-size: 20px;
    font-weight: 500;
  }
  .content-box {
    font-size: 14px;
  }
}

/* Contact */

input {
  background-color: rgb(44 188 233);
}

/* for Phone input */
input::placeholder {
  color: white;
  opacity: 0.5; /* Firefox */
}

textarea::placeholder {
  color: white;
  opacity: 0.5; /* Firefox */
}

/* Prices */

.prices__grid {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-flow: column; */
  column-gap: 3.8rem;
  row-gap: 4.4rem;
}

.pricing-plan--complete {
  /* background-color: #fdf2e9; */
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* color: #555555; */
  color: #fff;
  align-items: center;
  border-radius: 18px;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border: 4px solid #fff;
}

/* .pricing-plan--complete::after {
  content: 'Акційна ціна';
  position: absolute;
  top: 8%;
  right: -24%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
} */

.pricing-plan__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.header-pricing-plan__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-pricing-plan__title {
  /* color: #cf711f; */
  color: #ff45a4;
  font-weight: 600;
  font-size: 2rem;
}

.header-pricing-plan__title-block span {
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
}

.header-pricing-plan__price {
  font-size: 2.2rem;
  font-weight: 600;
  /* color: #333; */
  color: #fff;
}

.header-pricing-plan__paragraph {
  font-size: 16px;
  line-height: 1.6;
  /* color: #6f6f6f; */
  color: #fff;
}

.pricing-plan__list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list-pricing-plan__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.2;
}

.item-list-pricing-plan__icon {
  display: flex;
  align-self: flex-start;
}

.item-list-pricing-plan__text {
  font-size: 1rem;
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
  .prices__grid {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: initial;
    column-gap: 3.8rem;
    row-gap: 4.4rem;
  }
}

@media (max-width: 575.98px) {
  .header-pricing-plan__title {
    /* color: #cf711f; */
    color: #ff45a4;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
  }

  .header-pricing-plan__title-block span {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
  }

  .header-pricing-plan__price {
    font-size: 2.2rem;
    font-weight: 600;
    /* color: #333; */
    color: #fff;
  }

  .header-pricing-plan__paragraph {
    font-size: 16px;
    line-height: 1.6;
    /* color: #6f6f6f; */
    color: #fff;
  }
}
